@import '@styles/variables';

.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  opacity: 0;
  transition: opacity 0.5s;
}

.img {
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 8px 8px 0;
}

.info {
  text-align: center;
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 8px 0 0;
  background-color: $bg-secondary;
  padding: 8px 16px;
}

.genre_text {
  font-weight: $weight-medium;
  font-size: $size-sm;
  text-transform: capitalize;
}

.country_text {
  font-weight: $weight-regular;
  font-size: $size-sm;
}

.loaded {
  opacity: 1;
}
