// Button
$btn-radius: 16px;
$btn-paddings: 16px 32px;
$transition-time: 0.15s;
$border-width: 1px;
$border-width-focused: 2px;

// Input
$input-paddings: 12px 8px 12px 12px;
$input-radius: 8px;

// Typography
$size-h1: 32px;
$size-h2: 24px;
$size-h3: 20px;
$size-xs: 12px;
$size-sm: 14px;
$size-md: 16px;
$weight-regular: 400;
$weight-medium: 500;
$weight-semibold: 600;
$weight-bold: 700;

// Tabs
$tabs-border-radius: 16px;
$tab-border-radius: 14px;

// Header
$nav-item-icon-size: 24px;

// Other
$brand: #712d9c;
$bg-brand: #9534d2;
$bg-brand-extra-light: #bc8adb;
$bg-primary: #fff;
$bg-disabled: #f3f4f6;
$bg-tertiary: #f4f3f5;
$bg-secondary: #e6e7e9;
$bg-hover-primary: #7f18be;
$bg-hover-outline-primary: #f0f6ff;
$border-extra-light: #e3e5e5;
$border-light: #ced2da;
$border-medium: #97a1af;
$text-title: #292929;
$text-brand: #712d9c;
$text-invert: #fff;
$text-primary: #141c24;
$text-secondary: #344051;
$text-tertiary: #637083;
$text-error: #f64c4c;
$text-quartenery: #97a1af;
$text-body-primary: #535353;
$indicator-focused-alternative: #0c0c0c;
$indicator-focused: #9b4994;
$indicator-error: #f64c4c;
$indicator-light: #ced2da;
$indicator-positive: #4ecf53;
$indicator-attention: #ffb219;
$indicator-medium: #97a1af;
