@import '@styles/variables';
@import '@styles/mixins';

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid $border-light;
}

.nav {
  width: 960px;
  display: flex;
  align-items: center;
  gap: 32px;

  @include tablet {
    width: 90%;
  }

  @include phone {
    width: 100%;
    overflow: auto;
  }

  padding-block: 22px;

  & li {
    display: flex;
    cursor: pointer;
    gap: 16px;

    &:hover > a > * {
      transition: $transition-time;
      color: $text-brand;
    }

    &:hover > a > svg > path {
      transition: $transition-time;
      fill: $text-brand;
    }
  }

  & li:not(:first-child) img {
    width: $nav-item-icon-size;
    height: $nav-item-icon-size;
  }

  & li:last-child {
    margin-left: auto;
  }
}
