@import '@styles/variables';

.tabs_container {
  display: flex;
  width: max-content;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  border-radius: $tabs-border-radius;
  background-color: $bg-secondary;
  overflow-x: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.tab {
  text-align: center;
  cursor: pointer;
  border-radius: $tab-border-radius;
  transition: background-color $transition-time;
  margin: 2px;
  padding: 10px 16px;

  &:hover {
    background-color: rgba($color: $bg-primary, $alpha: 40%);
  }

  &.tab_active {
    background-color: $bg-primary;
  }
}
